# Ignore these files when copying into Docker image

# Maven stuff
target/
.mvn/
*.iml
.idea/

# System files
.DS_Store
Thumbs.db

# OS/Editor files
*.log
*.class
*.swp
*.bak
*.tmp

# Git
.git
.gitignore
